<h1>My Tasks</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= "checked" if task.completed %> >
      <%= task.title %>
    </li>
  <% end %>
</ul>
