<h1>My Tasks</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= "checked" if task.completed %> >
      <%= link_to task.title, task_path(task) %>
      <%= link_to "destroy", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new task", new_task_path %>
