// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description {
  background-color: #DCDCDC;
  width: fit-content;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  p {
    margin-bottom: 0px;
  }
}
